In [1]:
import pandas as pd
import numpy as np

In [2]:
def allDataset_loader(data_folder): 

    dataset =         pd.concat([ 
        pd.read_hdf(data_folder+"dataset_part1.hdf5"),
        pd.read_hdf(data_folder+"dataset_part2.hdf5")
    ])
    #datasetTestEven = pd.read_hdf(data_folder+"datasetTestEven.hdf5")
    #datasetTestOdd =  pd.read_hdf(data_folder+"datasetTestOdd.hdf5")
    #datasetTestMix =  pd.read_hdf(data_folder+"datasetTestMix.hdf5")
    datasetWithAntibodies =  pd.concat([ 
        pd.read_hdf(data_folder+"datasetWithAntibodies_part1.hdf5"),
        pd.read_hdf(data_folder+"datasetWithAntibodies_part2.hdf5")
    ])
    datasetExtra =    pd.read_hdf(data_folder+"datasetExtra.hdf5")
    
    allDatasets = pd.concat([dataset , datasetExtra, datasetWithAntibodies],ignore_index = True)
    allDatasets = allDatasets[allDatasets.Filter] # clear bad points
    
    return allDatasets;

In [53]:
def create_random_tuples(barcode,code_nanopores,meas_counts,min_perc,max_perc):
    perc_ds=np.asarray(meas_counts)/np.sum(meas_counts)*100;
    tuples_test_list=[];
    if np.all(perc_ds>max_perc): #If already picking one nanopore has a higher percentage than the max, picks the smallest one
        tuples_test_list.append( (barcode,code_nanopores[np.argmin(perc_ds)]) )
    else:
        to_select=np.where(perc_ds<max_perc)[0][:] #From the ones with low percentage
        n_bits=len(to_select) # n_bits to show all possible configurations
        n_combinations_total=2**len(to_select);
        comb_array=np.zeros((n_combinations_total,n_bits)).astype(bool);
        comb_perc_acc=np.zeros((n_combinations_total,));
        #Expreso todas las posibles combinaciones que queden entre min y max perc con binario eligiendo entre los que quedan
        #Entre las que quedan, elijo una combinacion random y la pusheo.
        for i in range(n_combinations_total):
            format_str='{0:0'+str(n_bits)+ 'b}'
            list_chars=list(format_str.format(i))
            comb_array[i,:]=[i=='1' for i in list_chars];
            idxs_picked=to_select[comb_array[i,:]];
            comb_perc_acc[i]=np.sum(perc_ds[idxs_picked]);
        comb_array_within_range=comb_array[np.logical_and(comb_perc_acc>min_perc,comb_perc_acc<max_perc),:];
        
        selected_comb=np.random.choice(len(comb_array_within_range), 1)[0];

        for i in range(len(to_select)):
            if comb_array_within_range[selected_comb,i]:
                code_index=to_select[i]
                tuples_test_list.append( (barcode,code_nanopores[code_index]) )
        
    return tuples_test_list;

In [37]:
def dataset_split(allDatasets,min_perc=5,max_perc=15):
    barcodes=np.unique(allDatasets["barcode"].to_numpy());
    
    testSetIndex=[];
    for barcode in barcodes:
        code_ds=allDatasets[allDatasets["barcode"]==barcode]
        code_nanopores=np.unique(code_ds["nanopore"].to_numpy());
        meas_counts= [ np.sum(code_ds["nanopore"]==i) for i in code_nanopores]
        tuples_test=create_random_tuples(barcode,code_nanopores,meas_counts,min_perc,max_perc)
        for i in tuples_test:
            testSetIndex.append(i)

    
    testSetSelection = allDatasets[["barcode", "nanopore"]]\
                            .apply(tuple, axis = 1)\
                            .isin(testSetIndex)
    
    testSet = allDatasets[ testSetSelection ]
    trainSet = allDatasets[ ~ testSetSelection ]
    
    return trainSet,testSet

In [5]:
def show_porcentages(trainSet,testSet):
    Y_train_barcode = np.vstack( trainSet.barcode.values )
    Y_test_barcode = np.vstack( testSet.barcode.values )
    labels = np.array(['000', '001', '010', '011', '100', '101', '110', '111'])
    samples_dist=pd.DataFrame({
    "Train": pd.Series(Y_train_barcode.flatten()).value_counts() ,
    "Test": pd.Series(Y_test_barcode.flatten()).value_counts() }, index = labels) 
    samples_perc=samples_dist.copy();
    for i in range(len(samples_dist)):
        samples_perc.iloc[i,0]=100*samples_dist.iloc[i,0]/(samples_dist.iloc[i,0]+samples_dist.iloc[i,1]);
        samples_perc.iloc[i,1]=100*samples_dist.iloc[i,1]/(samples_dist.iloc[i,0]+samples_dist.iloc[i,1]);
    print(samples_dist)
    print(samples_perc)
    return samples_perc;

In [30]:
def show_partition_nanopores(ds):
    aux=ds.groupby(ds.columns.tolist(),as_index=False).size();
    return aux;

In [38]:
data_folder="../ext/QuipuData/";
allDatasets=allDataset_loader(data_folder)
allDatasets=allDatasets[ ["barcode", "nanopore"]]; #Keep the only important informations
show_partition_nanopores(allDatasets)

   barcode  nanopore  size
0      000         6   253
1      000         7  2172
2      000         8  3498
3      000      1014    62
4      000      1017    99
5      001         7   838
6      001         8  1737
7      001        26   502
8      001        27  3583
9      001        28   923
10     001        29  1255
11     001      1053   167
12     010         7  1021
13     010         9   629
14     010        10   768
15     010      1159   101
16     011         6  1332
17     011         7   702
18     011        11   362
19     011        12   577
20     011        31   899
21     011        32   344
22     011        33  2192
23     011        35   483
24     011        36  1780
25     011        37  1583
26     011        38  1229
27     011        39  1735
28     011        40  2120
29     011        41  1271
30     100         7   288
31     100        13   631
32     100      1933    83
33     101         8  1240
34     101        26  1764
35     101        27   924
36     101        29  3494
37     101        30   427
38     101      1662   129
39     110         7  1161
40     110         8  2702
41     110        12   606
42     110        13  1309
43     110        14  1559
44     111         7   735
45     111         8  2866
46     111         9   677
47     111        14   665
48     111        15  1092
49     111        32   346
50     111        34  1263

In [54]:
trainSet,testSet=dataset_split(allDatasets,min_perc=5,max_perc=15)
samples_perc=show_porcentages(trainSet,testSet)

ValueError: a must be greater than 0 unless no samples are taken

In [23]:
show_partition_nanopores(trainSet)

   barcode  nanopore  size
0      000         7  2172
1      000         8  3498
2      001         7   838
3      001         8  1737
4      001        27  3583
5      001        28   923
6      001        29  1255
7      001      1053   167
8      010         7  1021
9      010         9   629
10     010        10   768
11     011         6  1332
12     011         7   702
13     011        11   362
14     011        12   577
15     011        31   899
16     011        32   344
17     011        33  2192
18     011        35   483
19     011        36  1780
20     011        38  1229
21     011        39  1735
22     011        40  2120
23     011        41  1271
24     100         7   288
25     100        13   631
26     101         8  1240
27     101        26  1764
28     101        27   924
29     101        29  3494
30     101      1662   129
31     110         7  1161
32     110         8  2702
33     110        13  1309
34     110        14  1559
35     111         8  2866
36     111         9   677
37     111        14   665
38     111        15  1092
39     111        32   346
40     111        34  1263

In [24]:
show_partition_nanopores(testSet)

  barcode  nanopore  size
0     000         6   253
1     000      1014    62
2     000      1017    99
3     001        26   502
4     010      1159   101
5     011        37  1583
6     100      1933    83
7     101        30   427
8     110        12   606
9     111         7   735

NameError: name 'dataset' is not defined